@model PalestraMVC.Models.Automobile

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Automobile</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Targa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Targa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Proprietario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Proprietario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataAcquisto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataAcquisto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Assicurata)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Assicurata)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrezzoAcquisto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrezzoAcquisto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modello)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modello)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClasseAmbientale)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClasseAmbientale)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NeoPatentati)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NeoPatentati)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
